

@media (min-width: 320px) { /*****************************************************************************************/

  #team {
    background-color: #FFF;
    text-align: center;
  }
  #team .span12 {
    padding-left: 0%;
    padding-right: 0%;
  }

  div.qm.team.container{

  
    padding-bottom: 70px;
    width: 100%;
    padding: 0px;
    

    margin-top: 50px;

}

  ul.qm.team{
    margin: 0px auto !important;
    padding: 0px !important;
  
}
  li.qm.team.item{
    font-family: 'Quattrocento Sans', sans-serif;
    height: 512px;
    width: 241px;
    margin: 0px 5px 45px 5px !important;
    padding: 0px !important;
    display: inline-table;
}
  div.qm.team.item.image{
    width:241px;
    height: 189px;
  }
  div.qm.team.item.image.dami{
      background: url(../img/picture_damian_alberti.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
  div.qm.team.item.image.ari{
      background: url(../img/picture_ariel_chamson.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
  div.qm.team.item.image.maru{
      background: url(../img/picture_maru.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
  div.qm.team.item.image.axel{
      background: url(../img/picture_axel_chamson.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
  div.qm.team.item.image.javi{
      background: url(../img/picture_javier_arancibia.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
   div.qm.team.item.image.buba{
      background: url(../img/picture_gabriel_von.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
   div.qm.team.item.image.santi{
      background: url(../img/picture_santi_navatta.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }
   div.qm.team.item.image.pet{
      background: url(../img/picture_pet.jpg) 50% 0px no-repeat;
      background-size: cover;    
  }

  div.qm.team.item.title{
    color:black;
    font-size: 29px;
    padding-top: 14px;
  }
  div.qm.team.item.role{
    color:#FA6D52;
    font-weight: 400;
    font-size: 12px;
  
    padding-top: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
  
    min-height: 45px;
}

  div.qm.team.item.separator{
    background: url(../img/diamon_separator.jpg) 50% 0px no-repeat;
    background-size: cover;  
    width: 85px;
    height: 10px;
    margin: 10px auto;
  }

  div.qm.team.item.about{
    font-size: 15px;
    color:black;
    padding-top: 10px;
  
    min-height: 120px;
}
  div.qm.team.item.email{
    font-size: 15px;
    color: #FB6E52;
  
    padding-top: 25px;
}

  

/*

    #team {
    background-color: #FFF;
    color: #26B7FC;
    text-align: center;
  }
  #team .span12 {
    padding-left: 0%;
    padding-right: 0%;
  }
  #team .arrow {
  }
  #team .title {
  }
  #team a {
    color: #26B7FC;
    font-weight: 400;
  }
  #team a:hover {
    color: #26B7FC;
    font-weight: 400;
  }
  #team ul {
    padding: 0px 0 0 22px;
    margin: 0px 0 0px 0;
  }

  #team ul.secondline{
    margin-bottom: 100px;
    
  }

  #team ul li {
    display: inline-table;
    margin: 55px 6px 0 0;
    padding: 0;
  }
  #team .name {
    padding-top: 17px;
    font-size: 16px;
    color: #000;
    font-weight: 800;
  }
  #team .role {
    color: #666666;
    font-size: 14px;
    margin-top: -10px;
    line-height: 21px;
  }
  #team .email {
    font-size: 14px;
    margin-top: -10px;
  }
  */
}
@media (min-width: 1024px) { /*****************************************************************************************/
 
}
@media (min-width: 1600px) { /*****************************************************************************************/
 
}