/*
#video div.row-fluid{
    display: none;
	
}
#video .title {
padding-top: 278px;
font-size: 118px;
margin-bottom: 44px;
line-height: 108px;
}
#video .title {
  padding-top: 278px;
  font-size: 60px;
  margin-bottom: 44px;
  line-height: 52px;
}
#video .video {
  margin: 0 auto 0 auto;
  background: url(../img/watchvideo.png) 50% 0% no-repeat;
  background-size: cover;
  width: 268px;
  height: 72px;
}
#video .video:hover {
  background: url(../img/watchvideo_hover.png) 50% 0% no-repeat;
}
*/


@media (max-width: 320px) { /*****************************************************************************************/

	#video {
		background: url(../img/section3.jpg) 50% 0px no-repeat;
		background-size: cover;
		min-height: 759px;
		color: #ffffff;
		text-align: center;
		position: relative;
		margin-top: -141px;
		min-height: 390px !important;
		-webkit-backface-visibility: hidden;
		    
		/* -webkit-animation: videoimageAnimation 60s linear infinite 0s; */
		    -moz-animation: videoimageAnimation 60s linear infinite 0s;
		    -o-animation: videoimageAnimation 60s linear infinite 0s;
		    -ms-animation: videoimageAnimation 60s linear infinite 0s;
		    animation: videoimageAnimation 60s linear infinite 0s; 
	}

}

@media (min-width: 320px) { /*****************************************************************************************/
	#video {
	  background: url(../img/section3.jpg) 50% 0 no-repeat;
	  background-size: cover;
	  min-height: 759px;
	  color: #ffffff;
	  text-align: center;
	  position: relative;
	  margin-top: -141px;
	  min-height: 410px;
	}
}

@media (min-width: 1200px) { /*****************************************************************************************/
	#video {
	  background: url(../img/section3.jpg) 50% -900px no-repeat;
	  background-size: cover;
	  min-height: 759px;
	  color: #ffffff;
	  text-align: center;
	  position: relative;
	  margin-top: -141px;
	  min-height: 410px;
	}
}

@media (min-width: 1280px) {/*****************************************************************************************/
	#video .title {
    padding-top: 278px;
    font-size: 118px;
    margin-bottom: 44px;
    line-height: 110px;
  }
}

@media (min-width: 1920px) {/*****************************************************************************************/
	#video .title {
    font-size: 118px;
  }
}



@-webkit-keyframes videoimageAnimation { 
    0% { 
        -ms-transform: scale(1.5,1.5); /* IE 9 */
      -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
       transform: scale(1.5,1.5);
      opacity: 0;
      background: url(../img/section3.jpg) 60% 50px no-repeat;
      background-size: cover;
      -webkit-animation-timing-function: ease-out; 
    }
    5%{
      opacity: 0;
    }
    30%{
      opacity:1;
    }
    80%{
      opacity: 1;
    }
    100% {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
       transform: scale(1,1);
      opacity: 0;
        background: url(../img/section3.jpg) 30% 0px no-repeat;
        background-size: cover;
    }
}
