




/**/


img{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}




.blur {
    -webkit-filter: blur(5px) grayscale(50%);
}
.preloader_hide {opacity:0;}
#preloader {position:fixed; left:50%; top:50%; width:32px; height:32px; margin:-16px 0 0 -16px; display:block;}


body {
  /*
	font-family: "lubalin-graph-book-regular", Arial, Helvetica, sans-serif;
	*/

  /*-webkit-overflow-scrolling: touch;*/
  overflow-x:hidden;

  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1920px;
  overflow-x: hidden;
  -webkit-touch-callout: none;  -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;
}
#menu {
  padding: 0% 5%;
  color: #999999;
  font-size: 12px;
}
#menu ul.sections li a:hover {
  background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  color: #555555;
  background-color: #e7e7e7;
}
#menu .navbar-right {
  position: absolute;
  right: 10px;
}
#menu .navbar-toggle {
  width: 54%;
  float: left;
}
ul li {
  list-style: none;
}
.circle {
  width: 20px;
  height: 20px;
  background-image: url("../img/circle.png");
  background-position: 61px -2px;
  background-size: 40px;
}
.circle:hover {
  background-position: 81px -2px;
}
.navbar-balls {
  display: none;
}
#nav .text {
  display: none;
}
#nav .text p {
  text-align: -webkit-right;
  width: 150px;
}
#div7:hover .text,
#div6:hover .text,
#div5:hover .text,
#div4:hover .text,
#div3:hover .text,
#div2:hover .text,
#div1:hover .text {
  display: block;
}
#nav a:hover {
  text-decoration: none;
}



div.home.date img{
  margin: 0 auto;
}

div.button.explore{
    width: 195px;
  
    height: 49px;
    background: rgba(255,255,255,0);
    margin: 0 auto;
    position: relative;
    top: -107px;
}
div.button.explore:hover{
  background: rgba(255,255,255,.1);
}


#nav {
  list-style: none;
  position: fixed;
  right: 20px;
  z-index: 1000;
  /*background-color: rgba(0,0,0,0.5);*/
  border-radius: 5px;
  padding: 2px;
  top: 30%;
}
.nav-menu li {
  padding-right: 10px;
}
.nav-menu li a {
  text-decoration: none;
  color: #FFF;
}
.nav-menu li a:hover {
  color: rgba(245, 250, 240, 0.8);
}
#nav li img {
  width: 10px;
  position: relative;
}
#nav li {
  margin: 0 0 15px 0;
}
#nav .text {
  position: relative;
  left: -153px;
  bottom: -1px;
  color: #444;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
  text-shadow: none;
}
/*GENERAL*/
.container-fluid {
  padding: 0px;
}
.content {
  overflow-x: hidden;
}
.content-area {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1024px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* Align center inline elements */
  font: 0/0 a;
  /* Hide the characters like spaces */
  color: white;
  padding: 10px;
}
.social {
  height: 20px;
  width: 20px;
}
.share {
  padding-top: 44px;
}
/*
.social-container {
  display: -webkit-inline-box;
  margin-left: -13px;
  margin-top: 16px;
}
*/
.social-container a {
  padding: 10px;
}
.social-facebook {
  background-image: url("../img/share_social_black.png");
  background-position: 5px 0px;
}
.social-google {
  background-image: url("../img/share_social_black.png");
  background-position: 25px 0px;
}
.social-twitter {
  background-image: url("../img/share_social_black.png");
  background-position: 64px 0px;
}
/*LINE DIGITAL BRAND GAMES*/
.line-digital,
.line-brand,
.line-games {
  width: 241px;
  height: 1px;
  position: relative;
  top: -1px;
}
.line-digital {
  background-color: #4FC0E8;
}
.line-brand {
  background-color: #48CFAE;
}
.line-games {
  background-color: #FB6E52;
}
.line-hide {
  background-color: #272727;
  width: 241px;
  height: 1px;
}
/**/
#home {
  /* background: url(../img/home_1.jpg) 50% -26px no-repeat; */
  background-size: cover;
  min-height: 759px;
  /* margin: -33px; */
  background: black;
}
#home .logo {
  padding-top: 30px;
}
#home .logo img,
#home .scrolldown img {
  margin: auto;
  padding-left: 18%;
  padding-right: 18%;
}
#home .scrolldown {
  padding-top: 50px;
}
#about {
  background-color: #FFF;
  color: #333333;
  text-align: center;
  min-height: 300px;
  max-height: 300px;
  position: relative;
  top: -143px;
  z-index: 200;
}
div#about div.row-fluid{
  
}
#about .arrow {
}
#about .title {
  line-height: 52px;
}
#about .text {
  word-spacing: 2px;
  line-height: 28px;
  text-align: center;
  font-size: 20px;
  padding: 0px 4% 0px 4%;
}



#services {
  background-color: #F6F6F6;
  color: #333333;
  text-align: center;
  min-height: 885px;
}
#services .span12 {
  /* padding-left: 5%; */
  /* padding-right: 5%; */
}
#services .arrow {
}
#services .title {
  word-spacing: 0px;
  color: #333;
  line-height: 52px;
  font-weight: 400;
}
#services .title.number {
    position: relative;

    left: -123px;
    top: 105px;
}
#services .title.experience {
    position: relative;

    top: 50px;
    left: 57px;
}


#services ul {
  padding: 36px 0 153px 0;
  position: relative;
  left: 16px;
}
#services ul li {
  display: inline-table;
  margin: 0 30px 0 0;
  padding: 3%;
}
#services ul li .subtitle p {
  font-weight: lighter;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 700;
  color: #333333;
}
#services ul li .text {
  min-height: 120px;
  margin-top: 25px;
  color: #666;
  text-align: -webkit-center;
  position: relative;
  left: 4px;
}
#services ul li .text p {
  width: 185px;
  font-size: 20px;
  line-height: 27px;
  text-shadow: none;
}
#services .button {
  margin-top: 15px;
  margin-bottom: 66px;
}
#services .line-digital,
#services .line-brand,
#services .line-games {
  width: 111%;
  margin-top: 25px;
  position: relative;
  left: -5px;
}

/*OUR WORK*/
#work {
  background-color: #171717;
  color: #000;
  text-align: center;
  padding-bottom: 150px;
}
#work .span12 {
  padding: 0;
  margin: 0;
}
#work .title {
  padding: 0px;
  text-shadow: none;
  color: #FFFFFF;
  line-height: 52px;
  position: relative;
}
#work .title.dos{
    text-align: -webkit-left;
  
    font-size: 40px;
    position: relative;
}
.filterby {
  width: 100%;
  height: 50px;
  position: relative;
}
.filterby p {
  font-size: 16px;
  text-align: center;
  position: relative;
  left: -88px;
  bottom: -29px;
  color: #FFF;
  text-shadow: none;
  font-weight: 700;
}
.filterby .box {
  width: 29px;
  height: 6px;
}
.filterby .digital {
  background-color: #4FC0E8;
}
.filterby .brand {
  background-color: #48CFAE;
}
.filterby .games {
  background-color: #FB6E52;
}
.logo280x220 {
  width: 241px;
  height: 189px;
}
.logo280x540 {
  width: 241px;
  height: 465px;
}

/*highLIGHTS*/
.img-starbucks {
  background: url(../resources/starbucks/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-lego{
  background: url(../resources/lego/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-tntoscars {
  background: url(../resources/tntoscars/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-jazmin {
  background: url(../resources/jazmin/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*4x1*/
.img-artplacer {
  background: url(../resources/artplacer/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-orbians {
  background: url(../resources/orbians/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-kgd {
  background: url(../resources/kgd/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-misspies {
  background: url(../resources/misspies/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*4x2*/
.img-dianavinoli {
  background: url(../resources/dianavinoli/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-cosmeticshield {
  background: url(../resources/cosmeticshield/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-personal {
  background: url(../resources/personal/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-bizonty {
  background: url(../resources/bizonty/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
/*4x3*/
.img-rafaelvinoli {
  background: url(../resources/rafaelvinoli/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.img-tntplaytime {
  background: url(../resources/tntplaytime/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-axn {
  background: url(../resources/axn/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.img-esfera {
  background: url(../resources/esfera/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}




#work ul {
  padding: 0px;
  margin: 0px;
}
#work ul li {
  display: inline-block;
}

#work ul li:hover {
  cursor: pointer;
}

.work-big {
  font-size: 16px;
  text-shadow: none;
  text-align: -webkit-left;
  margin: 50px auto auto auto !important;
}
.work-big ul li {
  margin: 5px;
}
.work-big ul li:last-child{

}

.work.more{
  position: relative;
  left: 2px;
}
.work.more ul li {
  margin: 3px;
}



.work .description-group,
.work-big .description-group {
  padding-top: 18px;
  background-color: #272727;
  padding-bottom: 5px;
  height: 76px;
  padding-left: 10px;
}
ul p.title-digital {
  color: #4FC0E8;
  text-align: left;
}
ul p.title-brand {
  color: #47CEAD;
}
ul p.title-games {
  color: #F96C52;
}
ul p.subtitle {
  font-size: 13px;
  color: #FFFFFF;
  position: relative;
  top: -10px;
  text-align: left;
}
#section-7 {
  background-color: #F6F6F6;
  color: #000;
  text-align: center;
}
#section-7 ul {
  display: table-caption;
  margin: 81px 0px 0px -70px;
  padding: 0px;
}
li.quadramma img {
}
li.drop-a-line img {
  position: relative;
  left: -56px;
}
li.visit-our-offices img {
  position: relative;
  left: -26px;
}
#section-7 ul li.quadramma {
  margin: 0;
  padding: 0px 20px;
}
#section-7 ul li.drop-a-line {
  margin: -50px 20px;
}
#section-7 ul li.visit-our-offices {
  margin: 85px auto 0px 30%;
}
#section-7 .title {
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  margin-top: 40px;
}
#section-7 .text {
  font-size: 14px;
  line-height: 0px;
  text-align: left;
  min-width: 180px;
  line-height: 18px;
}
#section-7-img {
  background: url(../img/contact_image.jpg) 50% 63% no-repeat;
  background-size: cover;
  min-height: 410px;
  padding: 0px;
  margin: 0px;
}
#section-7 .social {
  height: 20px;
  width: 20px;
  margin-left: 15px;
}
#section-7 .social-facebook {
  background-image: url("../img/share_social_black.png");
  background-position: 5px 0px;
}
#section-7 .social-google {
  background-image: url("../img/share_social_black.png");
  background-position: 25px 0px;
}
#section-7 .social-twitter {
  background-image: url("../img/share_social_black.png");
  background-position: 64px 0px;
}
#section-7 .separator {
    padding-top: 100px;
    padding-right: 100px;
  
    padding-left: 20px;
}
#section-7 .separator hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #CCCCCC;
}
#section-7 .copyright {
  position: relative;
  float: left;
  padding: 0px 20px;
  margin-bottom: 50px;
}
#section-7 .copyright p {
  font-size: 14px;
}
#section-7 .social {
  position: relative;
  float: right;
  display: -webkit-inline-box;
  margin-right: 15%;
}
#section-7 .inline {
  display: -webkit-inline-box;
}

#section-7 ul.social-bottom {
  margin: 0 50px 0 0;
  padding: 0px;
  position: relative;
  display: -webkit-box;
  float: right;
}
#section-7 ul.social-bottom li {
  margin: 0;
  padding: 0px;
}
.filterby .cont {
  position: absolute;
  width: 170px;
  right: -3px;
  top: -18px;
}


























@-webkit-keyframes contactimageAnimation { 
    0% { 
      -ms-transform: scale(1.1,1.1); /* IE 9 */
        -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
        transform: scale(1.1,1.1);
        
      opacity:0; 
    background: url(../img/contact_image.jpg) 10% 55% no-repeat;
    -webkit-animation-timing-function: ease-in; 
    }
    5%{
      opacity:0.1; 
    }
    20% { 
          opacity:1; 
         -webkit-animation-timing-function: ease-out; 
          }
    40%{
       
    }      
    50%{
     /* background: url(../img/contact_image.jpg) 63% 55% no-repeat;*/
        
    }      
    60% {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
       transform: scale(1,1);
   }
    70% { 
        
     /*   background: url(../img/contact_image.jpg) 70% 55% no-repeat;*/
       }
    95% {
      opacity:1; 
    }   
    100% {
     background: url(../img/contact_image.jpg) 85% 55% no-repeat;
     opacity:0;
    }
}





@media (max-width: 320px) { /*****************************************************************************************/

div.button.explore {
  width: 155px;
  height: 40px;
  background: rgba(255,255,255,0);
  margin: 0 auto;
  position: relative;
  top: -87px;
}

.bx-wrapper .bx-next {
  display: none;
}
.bx-wrapper .bx-prev {
  display: none;
}

#section-7-img {
  background: url(../img/contact_mobile.jpg) 100% 49% no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
    
  /* -webkit-animation: contactimageAnimation 30s linear infinite 0s; */
    -moz-animation: contactimageAnimation 30s linear infinite 0s;
    -o-animation: contactimageAnimation 30s linear infinite 0s;
    -ms-animation: contactimageAnimation 30s linear infinite 0s;
    animation: contactimageAnimation 30s linear infinite 0s; 
}

}


@media (min-width: 320px) { /*****************************************************************************************/




.social-container {
  /*display: -webkit-inline-box;*/
  margin-left: -13px;
  margin-top: 7px;
  
  display: inline-flex;
}

#about {
background-color: #FFF;
color: #333333;
text-align: center;
min-height: 500px;
max-height: 500px;
position: relative;
top: -143px;
z-index: 200;
}







  .cb-slideshow li span {
    height: 130% !important;
  }

  div#services div.section.row-fluid {
  }

  div.section.row-fluid{
    padding: 140px 0 10px 0;
    margin: 0 auto;
    width: 248px;
  }

  div.section.title {
    font-size: 50px;
  }
  div.section.arrow {
    padding: 30px 0 60px 0;
 /*320*/
  }

 div#services .title {
  }


  img.services.arrow.img{
    margin-top: 10px;
  }

  img.team.arrow.img{
    /* position: relative; */
    /* top: 170px; */
  }

 #section-7 {
    margin-top: -101px;

  }

  
  #work .title.dos {
    text-align: left;
    padding-top: 140px;
    margin: -65px 0 0 2px;
  }
  
 #section-7 {
    margin-top: -44px;

  }


  .filterby .cont {
    right: 130px;
    /*  right: 48px;*/
  }
  #menu .navbar-toggle {
    width: 15%;
    float: left;
  }
  #about .arrow {
  }
  #about .title {
    word-spacing: -3px;
    padding-left: 5%;
    padding-right: 5%;
  
    margin-top: -40px;
    line-height: 57px;
}
  #about .text {
    word-spacing: 2px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    padding: 25px 4% 0px 4%;
  }

  #section-7 ul {
    /* display: table-caption; */
    margin: 70px 0 0 0;
    padding: 0px;
  }
  li.quadramma img {
  }
  li.drop-a-line img {
    position: relative;
    left: -53px;
  }
  li.visit-our-offices img {
    position: relative;
    left: -45px;
  }
}
@media (min-width: 480px) { /*****************************************************************************************/


.social-container {
  /*display: -webkit-inline-box;*/
  margin-left: -13px;
  margin-top: 6px;
}

  .cb-slideshow li span {
  height: 200% !important;
}

  div.section.row-fluid{ /*480*/

  }
  div.section.arrow {
    padding: 16px 0 0px 0;
 /*480*/
  }

  div.section.title {
  }
   div#services .title {
  }
}
@media (min-width: 568px) { /*****************************************************************************************/
  div.section.row-fluid{ /*568*/

  }
  div.section.arrow { /*480*/
  }

  div.section.title {
  }
   div#services .title {
  }
}
@media (min-width: 600px) { /*****************************************************************************************/


.work.more {
position: relative;
left: 1px;
}

.work.more ul li {
margin: 5px;
}


  .cb-slideshow li span {
  height: 79% !important;
}

  div.section.row-fluid{ /*600*/
    width: 506px;
  }
  div.section.arrow { /*600*/
  }

  div.section.title {
  }
   div#services .title {
  }

   .filterby .cont {
    right: -13px;
  }
   .filterby .cont {
    right: 24px;
  }
}
@media (min-width: 767px) {/*****************************************************************************************/

.cb-slideshow li span {
  height: 62% !important;
}

  div.section.row-fluid{ /*768*/
    width: 506px;
  }
  div.section.arrow { /*768*/
  }

  div.section.title {
  }
   div#services .title { /*768*/
   
   
  }
  .filterby .cont {
    right: -21px;
  }
  .filterby .cont {
    right: 12px;
  }
  #menu {
    margin: 0px;
  }
  #menu ul {
    float: inherit;
    margin: 0 auto;
    display: table;
  }
  #menu .navbar-right {
    position: absolute;
    right: 10px;
  }
  #about .title {
    word-spacing: 2px;
  }
  #about .text {
    word-spacing: 0px;
    line-height: 26px;
    text-align: center;
  }
  
  #services .title-1 {
    font-size: 35px;
  }
  #services .title-2 {
    font-size: 30px;
  }
  #team .title-1 {
    font-size: 35px;
  }
  #team .title-2 {
    font-size: 30px;
  }

  #work .title-1 {
    font-size: 35px;
  }
  #work .title-2 {
    font-size: 30px;
  }
  #section-7 ul {
    /* display: table-caption; */
    /* margin: 81px 0px 0px -70px; */
    /* padding: 0px; */
  }
}
@media (min-width: 800px) {/*****************************************************************************************/

.work.more {
position: relative;
left: 1px;
}

.work.more ul li {
margin: 5px;
}


 .cb-slideshow li span {
  height: 105% !important;
}

  div.section.row-fluid{ /*800*/

  }
  div.section.arrow { /*800*/
  }

  div.section.title {
  }
  div#services .title { /*800*/
   
   
  }
  .filterby .cont {
    right: 10px;
  }
}
@media (min-width: 992px) {/*****************************************************************************************/
  div.section.row-fluid{ /*992*/

  }
  div.section.title {
  }
  div#services .title { /*992*/
   
   
  }
  div.section.arrow { /*992*/
  }

  #about .title {
  }
  
  .navbar-balls {
    display: inline;
  }
  #services .title-1 {
    font-size: 40px;
  }
  #services .title-2 {
    font-size: 35px;
  }
  #team .title-1 {
    font-size: 40px;
  }
  #team .title-2 {
    font-size: 35px;
  }
  #work .title-1 {
    font-size: 46px;
  }
  #work .title-2 {
    font-size: 35px;
  }
  #section-7 ul li {
    display: inline-table;
    margin: 80px 100px 0px 20px;
    text-align: -webkit-auto;
  }
  li.quadramma img {
    position: relative;
    left: 0px;
  }
  li.drop-a-line img {
    position: relative;
    left: 0px;
  }
  li.visit-our-offices img {
    position: relative;
    left: 0px;
  }
}
@media (min-width: 1024px) {/*****************************************************************************************/

div.section .row-fluid {
width: 550px;
}

 .cb-slideshow li span {
  height: 95% !important;
}


  div.section.title { /*1024*/
  }
   div.section.arrow { /*1024*/
  }
  div#services .title { /*1024*/
   
   
  }
}
@media (min-width: 1280px) {/*****************************************************************************************/


.work.more {
position: relative;
left: -27px;
}

.cb-slideshow li span {
  height: 620px !important;
}




div#contact{
  width: 100% !important;
  padding-left: 100px;
  margin: 0 auto;
}

 div.section .row-fluid {
  width: 1070px;
}
  div.section.title {
    font-size: 50px !important;
  }
   div.section.arrow {
 
 /*1024*/
  }
  div#services .title { /*1280*/
   
   
  }

  .qcopyright.fila{
    margin-top: -48px;
  }

  /*LG EN ADELANTE (NETBOOKS,NOTEBOOKS)*/
  
  #section-7 ul {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  #section-7 ul li.quadramma {
    margin: 81px 223px 0px 0px;
  }
  #section-7 ul li.drop-a-line {
    margin: 84px 172px 0px 0px;
  }
  #section-7 ul li.visit-our-offices {
    margin: 86px 230px 0px 0px;
  }
  #section-7 .separator {
    padding-top: 100px;
    padding-right: 100px;
  
    padding-left: 0px;
}
  #section-7 .separator hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #CCCCCC;
  }
  #section-7 .copyright {
    position: relative;
    float: left;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  #section-7 .copyright p {
    font-size: 14px;
  }
  #section-7 .social {
    position: relative;
    float: right;
    display: -webkit-inline-box;
    margin-right: 15%;
  }
  #section-7 .inline {
    display: -webkit-inline-box;
  }
  #section-7 .text {
    width: auto;
  }
}
@media (min-width: 1600px) {/*****************************************************************************************/

	div.home.text {
		position: relative!important;
		top: 150px;
		left: -10px;
	}

	#home {
		min-height: 1094px;
	}

	.cb-slideshow li span {
		height: 950px !important;
	}

}
@media (min-width: 1920px) {/*****************************************************************************************/

	

	
  div.section.row-fluid{ /*1920*/

  }
  div.section.title {
    font-size: 50px !important;
  }
  div.section.arrow { /*1920*/
  }
  div#services .title { /*1920*/
    font-size: 50px;
    top: 70px;
  }
  
}