

.bx-controls-direction a {
display: none;
position: absolute;
top: 50%;
margin-top: -16px;
outline: 0;
width: 32px;
height: 32px;
text-indent: -9999px;
z-index: 999;
/* background: rgba(0,0,0,.2); */
}
.bx-prev {
left: 50px;
background: url(images/controls.png) no-repeat 0 -32px;
}
.bx-next {
right: 50px;
background: url(images/controls.png) no-repeat -43px -32px;
}



/*SLIDE BEHAVIOUR TIPO BOLLE*/
div.qjslider{
	position: relative;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	max-height: 70vh;
}
ul.work-slide-ul{
	width: 999999px;
	position: relative;
	left: 0px;
}
ul.work-slide-ul li{
	/*display: table-cell !important;*/
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	float: left;
	list-style: none;
}



div.qjslider img{
	display: block;
	opacity: 1;
   -webkit-transition: 2s linear;
   -moz-transition: 2s linear;
   -o-transition: 2s linear;
   transition: 2s linear;
}

div.qjslider img.transition{
	display: block;
}
div.qjslider img.active{
	display: block;
 -webkit-transition: 2s linear;
   -moz-transition: 2s linear;
   -o-transition: 2s linear;
   transition: 2s linear;
	transition-delay: 2s;
	-webkit-transition-delay: 2s; /* Safari */
	opacity: 1;
}





@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/myriadpro-regular.eot');
    src: url('fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('fonts/myriadpro-regular.woff') format('woff'),
         url('fonts/myriadpro-regular.ttf') format('truetype'),
         url('fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'AvenirLTStd65Medium';
    src: url('fonts/avenir-65-medium-webfont.eot');
    src: url('fonts/avenir-65-medium-webfont.eot') format('embedded-opentype'),
         url('fonts/avenir-65-medium-webfont.woff') format('woff'),
         url('fonts/avenir-65-medium-webfont.ttf') format('truetype'),
         url('fonts/avenir-65-medium-webfont.svg#AvenirLTStd65Medium') format('svg');
}


.arrow.left{
	position: absolute;
	top: 50%;
	left: -55px;
}
.arrow.right{
	position: absolute;
	top: 50%;
	right: -55px;
}
#work .arrow{
	width: 57px;
}
#work .arrow:hover{
	cursor: pointer;
}

.modal {
    padding: 15px 8% 0 8%;
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-width: 1920px) {
	.modal {
	   /* padding: 100px 21% 0 21%;*/
	   padding-top:200px;
	}

}


.modal-header .close {
    margin-top: -2px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    font-family: Syncopate;
    position: relative;
    top: 3px;
}

.modal-header{
	background: transparent;
	border: 0px;
	padding: 0px;
	margin-bottom: 10px;
}
.modal-body {
    padding: 0px; */;
	/*
    background: white;
    padding: 2px 2px 0 2px;
    border: 0px;
    */
    max-height: 70vh;
}



.modal-body .jqslider{
	
}

.modal-footer{
	background: #161313;
	border: 0px;
	padding: 0px;
	height: 72px;
	margin-top: 0px;
	min-height: 75px;
}

div.modal div.icon{
	position: absolute;
	margin-left: 26px;
	margin-top: 7px;
}
div.modal div.icon img{
	width: 127px;
	height: 61px;
}
div.modal div.text{
	position: absolute;
	margin-top: 20px;
	margin-left: 190px;
	color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
}

div.modal .color.brands{
	color: #47CEAD;
}
div.modal .color.digital{
	color: #4FC0E8;
}
div.modal .color.games{
	color: #F96C52;
}



div.modal div.text.datos{
	margin-top: 40px;
	margin-left: 190px;
	font-size: 13px;
	color: #FFFFFF;
}




div.modal div.box-container{
	margin-right: 48px;
}

div.modal div.box{
	width: 9px;
	height: 9px;
	background: #FFFFFF;
	position: relative;
	float: right;
	margin-right: 4px;
	margin-top: 33px;
}

div.modal div.box:hover {
	background: #67707B !important; 
}
div.modal div.box.active {
	background: #38B1E5 !important;
}




@media (max-width: 320px) { /*****************************************************************************************/
	.modal-footer {
		background: #161313;
		border: 0px;
		padding: 0px;
		height: 148px;
		margin-top: 0px;
		min-height: 75px;
	}
	div.modal div.text {
	position: absolute;
	margin-top: 85px;
	margin-left: 30px;
	color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	}
	div.modal div.text.datos {
	margin-top: 112px;
	margin-left: 30px;
	font-size: 13px;
	color: #FFFFFF;
	}
	div.modal div.box {
width: 30px;
height: 30px;
background: #FFFFFF;
position: relative;
float: right;
margin-right: 4px;
margin-top: 150px;
display: none;
}
}

@media (max-width: 768px) { /*****************************************************************************************/
	.bx-prev {
	left: 15px;
	background: url(images/controls.png) no-repeat 0 -32px;
	}
	.bx-next {
	right: 15px;
	background: url(images/controls.png) no-repeat -43px -32px;
	}
}




