
div.home.text{
    z-index: 200; 
    position: relative;
}

.cb-slideshow,
.cb-slideshow:after { 
    /* position: relative; */
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* z-index: -20; */ 
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../img/pattern.png) repeat top left; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 81%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 21s linear infinite 0s;
    -moz-animation: imageAnimation 21s linear infinite 0s;
    -o-animation: imageAnimation 21s linear infinite 0s;
    -ms-animation: imageAnimation 21s linear infinite 0s;
    animation: imageAnimation 21s linear infinite 0s; 
}


.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/home_1.jpg);
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s; 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/home_2.jpg);
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    -ms-animation-delay: 7s;
    animation-delay: 7s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/home_3.jpg);
    -webkit-animation-delay: 14s;
    -moz-animation-delay: 14s;
    -o-animation-delay: 14s;
    -ms-animation-delay: 14s;
    animation-delay: 14s; 
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; 
    }
    15% { opacity: 1;
         -webkit-animation-timing-function: ease-out; 
          }
    25% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}


@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; 
    }
    15% { opacity: 1;
         -webkit-animation-timing-function: ease-out; 
          }
    25% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; 
    }
    15% { opacity: 1;
         -webkit-animation-timing-function: ease-out; 
          }
    25% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; 
    }
    15% { opacity: 1;
         -webkit-animation-timing-function: ease-out; 
          }
    25% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; 
    }
    15% { opacity: 1;
         -webkit-animation-timing-function: ease-out; 
          }
    25% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}



